<div class="visits">
  <div class="action-wrapper">
    <div class="link-wrapper <%= 'active' if @date_range.num_days == 365 %>">
      <%= link_to 'Last year', visits_path(range_end: Time.zone.now, range_start: Time.zone.now - 1.year), class: "action-link" %>
    </div>
    <div class="link-wrapper <%= 'active' if @date_range.num_days >= 28 && @date_range.num_days <= 31 %>">
      <%= link_to 'Last month', visits_path(range_end: Time.zone.now, range_start: Time.zone.now - 1.month), class: "action-link" %>
    </div>
    <div class="link-wrapper <%= 'active' if @date_range.num_days == 7 %>">
      <%= link_to 'Last week', visits_path(range_end: Time.zone.now, range_start: Time.zone.now - 1.week), class: "action-link" %>
    </div>
    <div class="link-wrapper <%= 'active' if @date_range.num_days == 2 %>">
      <%= link_to 'Last 2 days', visits_path(range_end: Time.zone.now, range_start: Time.zone.now - 2.days), class: "action-link" %>
    </div>
    <div class="link-wrapper">
      <%= link_to 'Clear Filters', visits_path, class: "reset-link" %>
    </div>
  </div>

  <div class="chart-wrapper">
    <h2 class="chart-header">Summary</h2>
    <div class="summary-container">
      <div class="stats-entry">
        <span class="summary-label">Total Visits</span><span class="summary-value"><%= @stats.summary[:total_visits] %></span>
      </div>
      <div class="stats-entry">
        <span class="summary-label">Average Daily Visits</span><span class="summary-value"><%= @stats.summary[:avg_daily_visits] %></span>
      </div>
      <div class="stats-entry">
        <span class="summary-label">Median Daily Visits</span><span class="summary-value"><%= @stats.summary[:median_daily_visits] %></span>
      </div>
      <div class="stats-entry">
        <span class="summary-label">Max Visits</span><span class="summary-value"><%= @stats.summary[:max_visits] %></span>
      </div>
      <div class="stats-entry">
        <span class="summary-label">Min Visits</span><span class="summary-value"><%= @stats.summary[:min_visits] %></span>
      </div>
    </div>
  </div>

  <div class="chart-wrapper">
    <h2 class="chart-header">Visits by Date</h2>
    <%= line_chart @stats.by_date, id: "by_date", xtitle: "Date", ytitle: "Number of Visits", curve: false, library: { animation: { duration: 1500, easing: 'easeInQuad', delay: 0, loop: false}, plugins: { title: { display: true, text: 'Visits By Date' } } } %>
  </div>

  <div class="chart-wrapper">
    <h2 class="chart-header">Top Pages</h2>
    <%= bar_chart @stats.by_page, id: "by_page", xtitle: "Number of Visits", ytitle: "URL", library: { animation: { duration: 1500, easing: 'easeInQuad', delay: 0, loop: false}, plugins: { title: { display: true, text: 'Top Pages' } } } %>
  </div>

  <div class="chart-wrapper">
    <h2 class="chart-header">Top Referrers</h2>
    <%= bar_chart @stats.by_referrer, id: "by_referrer", xtitle: "Number of Visits", ytitle: "Referrer", library: { animation: { duration: 1500, easing: 'easeInQuad', delay: 0, loop: false}, plugins: { title: { display: true, text: 'Top Referrers' } } } %>
  </div>
</div>

<%= javascript_pack_tag 'visit', 'data-turbolinks-track': 'reload' %>