<div class="space-y-8">
   <!-- Filters -->
  <div class="bg-white shadow-md rounded-md p-4">
    <h2 class="text-lg font-medium text-gray-800">Filter</h2>
    <%= render 'filters', visit_search: @visit_search %>
  </div>

  <!-- Charts -->
  <div class="space-y-6">

    <%# Summary Stats %>
    <div class="bg-white shadow-md rounded-md p-4">
      <h2 class="text-lg font-medium text-gray-800">Summary</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4 mt-3">
        <%= render 'summary_stats', summary: @stats.summary %>
      </div>
    </div>

    <%# By Date %>
    <div class="bg-white shadow-md rounded-md p-4">
      <h2 class="text-lg font-medium text-gray-800">Visits by Date</h2>
      <%= render 'line_chart',
             data: @stats.by_date,
             id: 'by_date',
             height: '325px',
             xtitle: 'Date',
             ytitle: 'Number of Visits' %>
    </div>

    <%# Pages %>
    <div class="bg-white shadow-md rounded-md p-4">
      <h2 class="text-lg font-medium text-gray-800">Top Pages</h2>
      <%= render 'bar_chart',
             data: @stats.by_page,
             id: 'by_page',
             height: '325px',
             xtitle: 'Number of Visits',
             ytitle: 'URL' %>
    </div>

    <%# Referrers %>
    <div class="bg-white shadow-md rounded-md p-4">
      <h2 class="text-lg font-medium text-gray-800">Top Referrers</h2>
      <%= render 'bar_chart',
             data: @stats.by_referrer,
             id: 'by_referrer',
             height: '325px',
             xtitle: 'Number of Visits',
             ytitle: 'Referrer' %>
    </div>

    <%# Bottom Pages %>
    <div class="bg-white shadow-md rounded-md p-4">
      <h2 class="text-lg font-medium text-gray-800">Bottom Pages</h2>
      <%= render 'bar_chart',
             data: @stats.by_page_bottom,
             id: 'by_page_bottom',
             height: '250px',
             xtitle: 'Number of Visits',
             ytitle: 'URL' %>
    </div>
  </div>
</div>
