<div class="space-y-8">
   <!-- Filters -->
  <div class="bg-white shadow-md rounded-md p-4">
    <h2 class="text-lg font-medium text-gray-800">Filter</h2>
    <%= form_with model: @visit_search, url: visits_path, method: :get, local: true, class: "space-y-4 mt-3" do |form| %>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div>
          <%= form.label :url, "Content", class: "block text-sm font-semibold text-gray-700" %>
          <%= form.text_field :url, class: "w-full border border-gray-300 rounded-md px-3 py-2 focus:ring-2 focus:ring-indigo-500 focus:outline-none" %>
        </div>
        <div>
          <%= form.label :referrer, "Referrer", class: "block text-sm font-semibold text-gray-700" %>
          <%= form.text_field :referrer, class: "w-full border border-gray-300 rounded-md px-3 py-2 focus:ring-2 focus:ring-indigo-500 focus:outline-none" %>
        </div>
        <div>
          <%= form.label :start_date, "Start date", class: "block text-sm font-semibold text-gray-700" %>
          <%= form.date_field :start_date, placeholder: "Start date", class: "w-full border border-gray-300 rounded-md px-3 py-2 focus:ring-2 focus:ring-indigo-500 focus:outline-none" %>
        </div>
        <div>
          <%= form.label :end_date, "End date", class: "block text-sm font-semibold text-gray-700" %>
          <%= form.date_field :end_date, placeholder: "End date", class: "w-full border border-gray-300 rounded-md px-3 py-2 focus:ring-2 focus:ring-indigo-500 focus:outline-none" %>
        </div>
      </div>
      <div class="flex justify-end space-x-4 mt-4">
        <%= form.submit "Search", class: "px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 uppercase tracking-wider" %>
        <%= link_to 'Reset', visits_path, class: "px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 hover:text-gray-800 uppercase tracking-wider" %>
      </div>
    <% end %>
  </div>

  <!-- Charts -->
  <div class="space-y-6">

    <%# Summary Stats %>
    <div class="bg-white shadow-md rounded-md p-4">
      <h2 class="text-lg font-medium text-gray-800">Summary</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4 mt-3">
        <% @stats.summary.each do |label, value| %>
          <div class="p-3 bg-gray-100 rounded-md shadow-inner text-center">
            <span class="block text-sm text-gray-500"><%= label.to_s.humanize %></span>
            <span class="block text-lg font-semibold text-gray-800"><%= value %></span>
          </div>
        <% end %>
      </div>
    </div>

    <%# By Date %>
    <div class="bg-white shadow-md rounded-md p-4">
      <h2 class="text-lg font-medium text-gray-800">Visits by Date</h2>
      <%= line_chart @stats.by_date,
        id: "by_date",
        height: "325px",
        xtitle: "Date",
        ytitle: "Number of Visits",
        curve: true,
        library: {
          animation: {
            duration: 1500,
            easing: 'easeInQuad',
            delay: 0,
            loop: false
          }
        } %>
    </div>

    <%# Pages %>
    <div class="bg-white shadow-md rounded-md p-4">
      <h2 class="text-lg font-medium text-gray-800">Top Pages</h2>
      <%= bar_chart @stats.by_page,
        id: "by_page",
        height: "325px",
        xtitle: "Number of Visits",
        ytitle: "URL",
        library: {
          animation: {
            duration: 1500,
            easing: 'easeInQuad',
            delay: 0,
            loop: false
          },
          scales: {
            y: {
              ticks: {
                autoSkip: false
              }
            }
          }
        } %>
    </div>

    <%# Referrers %>
    <div class="bg-white shadow-md rounded-md p-4">
      <h2 class="text-lg font-medium text-gray-800">Top Referrers</h2>
      <%= bar_chart @stats.by_referrer,
        id: "by_referrer",
        height: "325px",
        xtitle: "Number of Visits",
        ytitle: "Referrer",
        library: {
          animation: {
            duration: 1500,
            easing: 'easeInQuad',
            delay: 0,
            loop: false
          },
          scales: {
            y: {
              ticks: {
                autoSkip: false
              }
            }
          }
        } %>
    </div>

    <%# Bottom Pages %>
    <div class="bg-white shadow-md rounded-md p-4">
      <h2 class="text-lg font-medium text-gray-800">Bottom Pages</h2>
      <%= bar_chart @stats.by_page_bottom,
        id: "by_page_bottom",
        height: "250px",
        xtitle: "Number of Visits",
        ytitle: "URL",
        library: {
          animation: {
            duration: 1500,
            easing: 'easeInQuad',
            delay: 0,
            loop: false
          },
          scales: {
            y: {
              ticks: {
                autoSkip: false
              }
            }
          }
        } %>
    </div>
  </div>
</div>
